body {
margin: 0 auto;
width: 800px;
background-color: #ACB5BD;
padding-top: 60px;
}

.left {
    text-align: left;
  }

span {
    text-align: left;
}


.tags-look .tagify__dropdown__item{
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
  padding: .3em .5em;
  border: 1px solid #CCC;
  background: #F3F3F3;
  margin: .2em;
  font-size: .85em;
  color: black;
  transition: 0s;
}

.tags-look .tagify__dropdown__item--active{
  color: black;
}

.tags-look .tagify__dropdown__item:hover{
  background: lightyellow;
  border-color: gold;
}

.tags-look .tagify__dropdown__item--hidden {
    max-width: 0;
    max-height: initial;
    padding: .3em 0;
    margin: .2em 0;
    white-space: nowrap;
    text-indent: -20px;
    border: 0;
}

.card {
  --bs-card-spacer-y: 0.5rem;
  --bs-card-spacer-x: 1rem;
}

p {
  margin-block-end: 0.5em;
}

.nodec {
  text-decoration: none;
}