<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer">        
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css.map">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/style/main.css">
    <link href="https://unpkg.com/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
    <title>Базарчик</title>
</head>
<body>
    <form action="#" id="form" autocomplete="off">
    <div class="container text-center">
        <div class="row">
          <div class="col">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Назва*</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="title" placeholder="Опишіть коротко заголовок товару">
              </div>
          </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="exampleDataList" class="form-label">Ключові слова*</label>
                <input class="form-control" list="datalistOptions" id="exampleDataList" name="keywordsinput" placeholder="Введіть для пошуку...">
            </div>
        </div>        
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label" >Детальний опис*</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="content" placeholder="Надайте максимум корисної інформації для покупця. Обмеження 280 символів" rows="3"></textarea>
                  </div>
            </div>   
        </div>
        <div class="row">
            <div class="col">
              <span>Контакти</span>
            </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="inputPassword2" class="visually-hidden">Як до вас звертатися*</label>
              <input type="text" class="form-control" id="inputPassword2" name="author" placeholder="Ваше імя чи нікнейм">

          </div>
          <div class="col">
            <label for="inputPassword2" class="visually-hidden">Номер телефону</label>
              <input type="tel" class="form-control" id="inputPassword2" name="phone" placeholder="Номер телефону без +380">

          </div>
          <div class="col">
            <label for="exampleDataList" class="visually-hidden">Локація*</label>
                <input class="form-control" list="datalistOpt" id="exampleDataList" name="location" placeholder="Ваш населений пункт">
                <datalist id="datalistOpt">
                  <option value="КИїв">
                  <option value="Харків">
                  <option value="Миколаїв">
                  <option value="Маріуполь">
                  <option value="Херсон">
                </datalist>
          </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="formFile" class="form-label">Фото</label>
                    <form action="/upload" method="post" enctype="multipart/form-data">
                    <input class="form-control" name="picture" type="file" id="formFile">
                    </form>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
               <span>Ціна*</span>
            </div>   
        </div>
        <div class="row">
            <div class="col">
              <form class="row g-3"> 
                    <div class="col-auto">
                        <div class="input-group mb-3 ">
                            <input type="text" class="form-control" placeholder="" name="price" aria-label="Имя пользователя получателя" aria-describedby="basic-addon2">
                            <span class="input-group-text" id="basic-addon2">.ГРН</span>  
                        </div>
                    </div>
                </form>
                    <div class="col-auto">
                        <button type="button" name="send" class="btn btn-primary mb-3">Опублікувати</button>
                    </div>
                
            </div>
          </div>
      </div>
    </form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/@yaireo/tagify"></script>
<script src="https://unpkg.com/@yaireo/tagify@3.1.0/dist/tagify.polyfills.min.js"></script>
<script src="/script/inputmask.min.js"></script>
<script src="/script/main.js"></script>

</body>
</html>