<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer">        
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css.map">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/style/main.css">
    <title>Базарчик</title>
</head>
<body>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <img src="https://via.placeholder.com/350x400?text=Немає+Фото" name="pic"   class="img-fluid" alt="...">
        </div>
        <div class="col">
            <h2><span name="title"></span></h2><br>
            <h6><span name="keywords"></span>
            </h6><br>
            <p class="text-start"><span name="content"></span></p><br>
            <span>Автор: <span name="author"></span></span><br>
            <span>Знаходиться: <span name="location"></span></span><br>
            <span>Номер телефону: <span name="phone"></span></span><br>
            <span>Створено: <span name="createAt"></span></span><br>
            <span>Оновлено: <span name="updateAt"></span></span><br>
            <h3>Ціна: <span name="price"></span> грн</h3>
        </div>
    </div>
    <div class="row">
        <h4>Коментарі</h4>
    </div>
    <div class="row" name="allcomments">
  <!--    -->
    </div>
    </div>
    <form action="/postcomment" method="post" id="form" enctype="multipart/form-data">
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="visually-hidden" >Детальний опис</label>
                    <textarea required class="form-control" id="" name="comment" placeholder="Ваш коменнтар. Обмеження 280 символів" rows="3"></textarea>
                </div>
            </div>  
        </div>    
        <div class="row">
            <div class="col">
                <label for="inputPassword2" class="visually-hidden"></label>
                <input type="text" required class="form-control" id="inputPassword2" name="author" placeholder="Ваше імя чи нікнейм">
            </div>
            <div class="col">
            </div>
            <div class="col">
            <button type="submit" name="post" id="sub" class="btn btn-outline-primary">Залишити коментар</button>
            </div>
        </div>
    </form>
</div>
<script src="/script/comment.js"></script>
</body>
</html>