<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer">        
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css.map">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/style/indexmain.css">
    <title>Базарчік</title>
</head>
<body>
    <div class="row">
        <div class="col">
        <div class="card text-center" style="width: 100%;">
            <div class="card-body" >
                <h6 class="card-title">Ключові слова</h6>
                <div class="keywords" name="keys">
                    
                </div>
            </div>   
        </div>
        </div>
        </div>
    <div class="row row-cols-1 row-cols-md-3 g-4" name="cards_container">
    <span class="rating"></span>    
    </div>
      
<script src="/script/indexmain.js"></script>    
</body>
</html>